$gridChildsWidth: 25%;
$gridColumnGap: 40px;

.main-blocks {
  height: 85vh;
  display: grid;
  grid-template-columns: 25% 25%;
  grid-column-gap: 40px;
  justify-content: center;
  grid-row-gap: 80px;
  padding-top: 20px;
  overflow-y: scroll;
  width: calc(100% - 220px);

  .blocks {
    height: 190px;
    border: 1px solid;
    padding: 20px;

    .without-x {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2*$gridChildsWidth;
    }

    .with-x {
      display: flex;
      justify-content: flex-end;
      font-size: $gridColumnGap;

      span {
        cursor: pointer;
      }
    }
  }
}