.header {
  border-bottom: 1px solid;
  padding: 20px;

  & button:nth-child(2) {
    margin-left: 70px;
  }

  & button {
    background: none;
    border: 2px solid green;
    padding: 10px;
    cursor: pointer;
  }

  & button:hover {
    background: green;
    color: #fff;
  }
}
